.boxed a:hover { color: #ffffff;
    background: #222222;
}
.boxed a {
    display: inline-block;
    padding: 8px 30px;
    color: #D2691E;
    background: #ffffff;
}
a:hover, a:active, a:focus {
    color: #666;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #080808;
    text-decoration: underline;
}


#about {
    position: relative;
    padding: 80px 0 60px 0;
    background: #f2f2f2;
}



section {
    display: block;
}
body {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
}
.text-maroon {
    color: maroon;
}
.text-center {
    text-align: center!important;
}

.spacing{
    margin-top: 50px;
}

.deadline-card{
    background-color: #fff;
    /* width: 330px; */
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
}

.guideline-card{
    background-color: #fff;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
    /* transition-duration: 0.5s; */
}

.submit-paper-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}